.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
        min-height: 120px;
        background: #1e293b;
        margin: 0 -1rem;
        font-size: 36px;
    }
    &__content  {
       min-height: calc(100vh - 170px); //substarct size of the header and conetnt)
       border-radius: 10px;
       margin-top: -2rem;
       background: white;
       color:black;
    //    font-size:2rem;
       &-data {
        top: 20%;
        left: 20%;
        // transform: translate(-50%, -50%);
       }
    }
}
.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #3ca543;
    border-radius: 50%;
    z-index: 1;
    // border: 1px solid gray;
    border-style: solid;
  }
  .tech_info {
    font-style: italic;
    font-weight: 500;
  }
::ng-deep {
    .p-timeline .p-timeline-event-marker {
        border: 2px solid #2196F3;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        background-color: #ffffff;
    }
}