<div class="container-fluid page">
    <div class="page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <div class="page__profile-image">
                <a href="#">
                    <img class="profile-image p-0 m-0" src="assets/profile.jpg" alt="Image" />
                </a>
            </div>
            <p class="profile-info">
                Hi I am Priyanka Ahire, a Software developer living in Pune, India. I am a Msc Computer Science, currently working with awesome folks at Amdocs.
                Have a look at my Github, skills or just connect with me on LinkedIn. lets discuss more over tea.
            </p>
            <button target="_blank" pButton pRipple type="button" label="Download CV" icon="pi pi-arrow-download"  class="p-button-raised p-button-primary"></button>
        </div>
    </div>
</div>
