/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Montserrat", sans-serif;
  }
  
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  .btn-primary {
    color: #fff;
    background-color: #1e293b !important;
    border-color: #1e293b !important;
}
.title {
  font-weight: 700;
}
.bg-primary, .p-button{
  color: #fff;
    background-color: #1e293b !important;
    border-color: #1e293b !important;
}
